<h1>Create song</h1>

<%= form_for @song do |f| %>
  <%= f.label :song_name %>
  <%= f.string :name %><br>

  <%= f.label :song_artist_id %>
  <%= f.integer :artist_id %>

  <%= f.label :song_genre_id %>
  <%= f.integer :genre_id %>

  <%= f.submit %>
<% end %>
